.reserva {
  background-image: url('../img/reserva.png');
  position: absolute;
  left: 0;
  top: 1;
  z-index: 1;
}

.foco-incendio {
  background-image: url('../img/foco.gif');
  position: absolute;
  z-index: 2;
}

.caveira-fogo {
  background-image: url('../img/caveira.gif');
  position: absolute;
  z-index: 2;
}

.devastacao {
  background-image: url('../img/devastacao.png');
  position: absolute;
  z-index: 2;
  
}

.vida {
  background-image: url('../img/arvore.png');
  position: relative;
  left: 0;
  top: 0;
  z-index: 2;
}