div.blue {
	width: 100px;
	height: 200px;
	background-color: blue;
	position: absolute;
}

div.yellow {
	width: 100px;
	height: 150px;
	background-color: yellow;
	position: absolute;
	top: 8px;
	left: 108px;
}

div.red {
	width: 100px;
	height: 150px;
	background-color: red;
	position: absolute;
	top: 8px;
	left: 208px;
}

div.green {
	width: 200px;
	height: 50px;
	background-color: green;
	position: absolute;
	top: 158px;
	left: 108px;
}